﻿@model Domain.Entities.Meal

@{
    ViewBag.Title = "Edycja";
}

<h2>Edycja produktu <small>(wartości w 100 gramach produktu)</small></h2>
@using (Html.BeginForm("Edit", "Meal", FormMethod.Post, new { @class = "form" }))
{
    @Html.HiddenFor(x => x.MealId)
    <div class="form-group">
        @Html.Label("Nazwa")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.Label("Białko (g)")
        @Html.TextBoxFor(x => x.Protein, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Protein)
    </div>
    <div class="form-group">
        @Html.Label("Węglowodany (g)")
        @Html.TextBoxFor(x => x.Carbohydrates, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Carbohydrates)
    </div>
    <div class="form-group">
        @Html.Label("Tłuszcze (g)")
        @Html.TextBoxFor(x => x.Fat, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Fat)
    </div>
    <div class="form-group">
        @Html.Label("Kalorie (kcal)")
        @Html.TextBoxFor(x => x.Calories, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Calories)
    </div>
    <button type="submit" class="btn btn-info">Zapisz</button>
    @Html.ActionLink("Anuluj i wróć do listy", "List");
}
