﻿@model IPagedList<Domain.Entities.Meal>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}

<div class="col-md-12">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Ostatnie dodane posiłki do dziennika
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th style="text-align: center">Białko (g)</th>
                                <th style="text-align: center">Węglowodany (g)</th>
                                <th style="text-align: center">Tłuszcze (g)</th>
                                <th style="text-align: center">Kalorie (kcal)</th>
                                <th style="text-align: center">Dodaj do dziennika</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var meal in ViewBag.LastAddedEatenMeal)
                            {
                                <tr>
                                    <td>@meal.Name</td>
                                    <td style="text-align: center">@meal.Protein</td>
                                    <td style="text-align: center">@meal.Carbohydrates</td>
                                    <td style="text-align: center">@meal.Fat</td>
                                    <td style="text-align: center">@meal.Calories</td>
                                    <td style="text-align: center"><a href="@Url.Action("CreateEatenMeal", "EatenMeal", new { @id = @meal.MealId })">Dodaj</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-md-offset-4">
    <form method="get" action="@Url.Action("List")" class="form-inline">
        <input type="search" class="form-control" id="searchInput">
        <button type="submit" class="btn btn-info" id="searchButton">Szukaj po nazwie</button>
    </form>
</div>

@Html.Partial("_Meals", Model)