﻿@model DietDiary.Models.ViewModel

<div id="eatenMeals" class="col-md-12">
    <div class="row">
        <div class="col-md-4 ">
            <div class="box box1-border-top">
                <div class="content-center">
                    <div class="header">TWOJE ZAPOTRZEBOWANIE</div>
                    <div class="calories">@Model.ProfileModel.CalculateCaloricNeeds() kcal</div>
                    <div class="change-dailycaloric"><a href="@Url.Action("EditProfile","Account")">Zmień swoje zapotrzebowanie kaloryczne.</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box2-border-top">
                <div class="content-center">
                    <div class="header">SPOŻYTE KALORIE</div>
                    <div class="calories">@Model.CaloriesConsumed() kcal</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="box box3-border-top">
                <div class="content-center">
                    <div class="header">POZOSTAŁE KALORIE</div>
                    <div class="calories"><span id="remaining-calories">@(Model.ProfileModel.CalculateCaloricNeeds() - Model.CaloriesConsumed())</span> kcal</div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <a href="@Url.Action("List","Meal")"><img src="~/Images/addtodiary.png" class="col-md-12" /></a>
    <div class="col-md-4 col-md-offset-4 text-center">
        <img id="prev-day" class="change-day" src="~/Images/prev-arrow.png" />
        <span class="diary-date">@ViewBag.TodayDate</span>
        <img id="next-day" class="change-day" src="~/Images/next-arrow.png" />
        <button id="date-picker" class="btn btn-default">Zmień datę</button>
    </div>

    @foreach (var kvp in Model.EatenMeals)
    {
        if (kvp.Value.Count() > 0)
        {
            <table class="table ">
                <thead>
                    <tr>
                        <th class="meal-type" width="300">@kvp.Key.Name</th>
                        <th>porcja (g)</th>
                        <th>białko (g)</th>
                        <th width="200">węglowodany (g)</th>
                        <th>tłuszcze (g)</th>
                        <th>kalorie (kcal)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eatenMeal in kvp.Value)
                    {
                        <tr>
                            <td><i class="fa fa-remove" id="@eatenMeal.Id"></i> @eatenMeal.Meal.Name</td>
                            <td>@eatenMeal.Serving</td>
                            <td>@Model.CalcEatenMacronutrientsAndCalories(eatenMeal.Serving, eatenMeal.Meal.Protein)</td>
                            <td>@Model.CalcEatenMacronutrientsAndCalories(eatenMeal.Serving, eatenMeal.Meal.Carbohydrates)</td>
                            <td>@Model.CalcEatenMacronutrientsAndCalories(eatenMeal.Serving, eatenMeal.Meal.Fat)</td>
                            <td>@Model.CalcEatenMacronutrientsAndCalories(eatenMeal.Serving, eatenMeal.Meal.Calories)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    <table class="table ">
        <thead>
            <tr>
                <th class="meal-type" width="300">W sumie</th>
                <th>porcja (g)</th>
                <th>białko (g)</th>
                <th width="200">węglowodany (g)</th>
                <th>tłuszcze (g)</th>
                <th>kalorie (kcal)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><span class="total">@Model.ServingConsumed()</span></td>
                <td><span class="total" id="protein">@Model.ProteinConsumed()</span></td>
                <td><span class="total" id="carbo">@Model.CarbohydratesConsumed()</span></td>
                <td><span class="total" id="fat">@Model.FatConsumed()</span></td>
                <td><span class="total">@Model.CaloriesConsumed()</span></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div id="pieChart"></div>
        </div>
    </div>
</div>
