﻿@model IPagedList<Domain.Entities.Meal>
<div id="meals" class="col-md-12">
    <div class="pagedList col-md-6 col-md-offset-4 ">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page }),
            PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    <a href="@Url.Action("Create","Meal")"><img src="~/Images/addmealtodb.png" class="col-md-12" style="margin-bottom: 20px" /></a>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th style="text-align: center">Białko (g)</th>
                <th style="text-align: center">Węglowodany (g)</th>
                <th style="text-align: center">Tłuszcze (g)</th>
                <th style="text-align: center">Kalorie (kcal)</th>
                <th style="text-align: center">Dodaj do dziennika</th>
                @if (User.IsInRole("Admin"))
                {
                    <th style="text-align: center">Edycja</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
                <tr>
                    <td>@meal.Name</td>
                    <td style="text-align: center">@meal.Protein</td>
                    <td style="text-align: center">@meal.Carbohydrates</td>
                    <td style="text-align: center">@meal.Fat</td>
                    <td style="text-align: center">@meal.Calories</td>
                    <td style="text-align: center"><a href="@Url.Action("CreateEatenMeal","EatenMeal", new { @id = meal.MealId})">Dodaj</a></td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td style="text-align: center"><a href="@Url.Action("Edit","Meal", new { @id = meal.MealId})">Edytuj</a> </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>