﻿<div class="row">
    <div class="col-md-4 ">
        <div class="box box1-border-top">
            <div class="content-center">
                <div class="header">TWOJE ZAPOTRZEBOWANIE</div>
                <div class="calories">@Model.ProfileModel.CalculateCaloricNeeds() kcal</div>
                <div class="change-dailycaloric"><a href="@Url.Action("EditProfile","Account")">Zmień swoje zapotrzebowanie kaloryczne.</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box2-border-top">
            <div class="content-center">
                <div class="header">DZIŚ SPOŻYTE</div>
                <div class="calories">@Model.CaloriesConsumed() kcal</div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="box box3-border-top">
            <div class="content-center">
                <div class="header">POZOSTAŁO</div>
                <div class="calories"><span id="remaining-calories">@(Model.ProfileModel.CalculateCaloricNeeds() - Model.CaloriesConsumed())</span> kcal</div>
            </div>
        </div>
    </div>
</div>