﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}



#pieChart{
    height: 250px;
    margin: 10px;
}


.box{
    padding: 5px;
    margin: 5px;
    background-color: #eee;
    height: 100px;
}

.box1-border-top{
    border-top: 10px solid #66c1d4;
}
.box2-border-top{
    border-top: 10px solid #dc5656;
}
.box3-border-top{
    border-top: 10px solid #dcd856;
}

.content-center{
    display:block;
    position:relative;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header{
    text-align: center;    
    font-family: 'Segoe UI';
}

.calories{
    text-align: center;
    font-size: 32px;
    color: #525252;

}


.change-dailycaloric {
    text-align: right;
    font-size: 10px;
    color: #808080;
    font-family: 'Segoe UI';
}

.change-dailycaloric a {
    text-decoration: none;
    color: #808080;
}

.change-dailycaloric a:hover{
    text-decoration: none;
    color: #232323;
}

.meal-type{
    font-size: 20px;
}

.diary-date {
    font-size: 35px;
    font-family: 'Segoe UI';
}
#prev-day{
    margin-right: 10px;
    margin-top: -16px;
}

#next-day{
    margin-top: -16px;
    margin-left: 10px;
}
.change-day:hover{
    opacity: 0.7;
}

.total {
    font-size: 18px;
    color: #4487c8;
    font-style: italic;
    font-weight: 700;
}

.fa-remove:hover {
    opacity: 0.7;
}

td{
    word-wrap: break-word;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
