﻿@model DietDiary.Models.EatenMealVM

@{
    ViewBag.Title = "Dodawanie posiłku do dziennika";
}

@using (Html.BeginForm("CreateEatenMeal", "EatenMeal", FormMethod.Post, new { @class = "form" }))
{
    @Html.HiddenFor(x => x.MealId)
    <div class="form-group">
        <h4>
            @Html.DisplayNameFor(m => m.MealName):
            <small>@Html.DisplayFor(m => m.MealName, new { @class = "form-control" })</small>
        </h4>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Serving)
        @Html.TextBoxFor(x => x.Serving, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Serving)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MealTypeID)
        @Html.DropDownListFor(m => m.MealTypeID, Model.MealTypeList, "--Proszę wybrać typ posiłku--", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MealTypeID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @id = "date-eaten", @Value = DateTime.Today.ToShortDateString() })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <input type="submit" class="btn btn-info" value="Dodaj" />
}