﻿@model Domain.Entities.User
@using DietDiary.Extensions
@{
    ViewBag.Title = "Edycja profilu";
}

<h2>Edycja profilu użytkownika @Model.UserName</h2>
<hr />
@using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form" }))
{
    @Html.HiddenFor(x => x.UserId)
    <div class="form-group">
        @Html.Label("Imię")
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
    <div class="form-group">
        @Html.Label("Nazwisko")
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
    <h4>Poniższe infromację są niezbędne w celu obliczenia Twojego zapotrzebowania kalorycznego.</h4>
    <div class="form-group">
        @Html.Label("Wiek")
        @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Age)
    </div>
    <div class="form-group">
        @Html.Label("Waga (kg)")
        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Weight)
    </div>
    <div class="form-group">
        @Html.Label("Wzrost (cm)")
        @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Height)
    </div>
    @Html.Label("Płeć")
    <div class="form-group">

        <div class="radio-inline">
            @Html.RadioButtonFor(x => x.IsFemale, "true") Kobieta
        </div>


        <div class="radio-inline">
            @Html.RadioButtonFor(x => x.IsFemale, "false") Mężczyzna
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Aktywność fizyczna")
        @Html.DropDownListFor(x => x.Activity, Model.Activity.ToSelectList(), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Cel")
        @Html.DropDownListFor(x => x.Goal, Model.Goal.ToSelectList(), new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-info" value="Zapisz" />
}
<br />