﻿@model DietDiary.Models.LoginModel

@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-danger">@TempData["message"]</div>
}

<div class="col-md-6 col-md-offset-4">
    <h2>Zaloguj się </h2>
</div>

<br />

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="form-group">
        @Html.Label("Nazwa użytkownika:", new { @class = "col-md-3 col-md-offset-1 control-label" })
        <div class="col-md-4 ">
            @Html.TextBoxFor(x => x.Name, null, new { @class = "form-control", type = "text", @placeholder = "podaj nazwę użytkownika" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Hasło:", new { @class = "col-md-3 col-md-offset-1 control-label" })
        <div class="col-md-4 ">
            @Html.TextBoxFor(x => x.Password, null, new { @class = "form-control", type = "password", @placeholder = "podaj hasło" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
            <button type="submit" class="btn btn-info">Zaloguj</button>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <hr />
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-4 col-md-offset-6">
            <form method="get" action="@Url.Action("Register","Account")" class="form">
                Nie posiadasz konta?
                <button type="submit" class="btn btn-info">Zarejestruj się</button>
            </form>

        </div>
    </div>
</div>