﻿@model DietDiary.Models.RegisterModel

@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-md-offset-4">
    <h2>Rejestracja </h2>
</div>
<div class="col-md-6 col-md-offset-4">
    <p>Utwórz konto, by móc korzystać z serwisu.</p>
</div>
<br />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.Label("Adres e-mail:", new { @class = "col-md-3 col-md-offset-1 control-label" })
        <div class="col-md-4 ">
            @Html.TextBoxFor(x => x.Email, null, new { @class = "form-control", type = "email", @placeholder = "podaj adres email" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Nazwa użytkownika:", new { @class = "col-md-3 col-md-offset-1 control-label" })
        <div class="col-md-4 ">
            @Html.TextBoxFor(x => x.Name, null, new { @class = "form-control", type = "text", @placeholder = "podaj nazwę użytkownika" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Hasło:", new { @class = "col-md-3 col-md-offset-1 control-label" })
        <div class="col-md-4 ">
            @Html.TextBoxFor(x => x.Password, null, new { @class = "form-control", type = "password", @placeholder = "podaj hasło" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Powtórz hasło:", new { @class = "col-md-3 col-md-offset-1 control-label" })
        <div class="col-md-4 ">
            @Html.TextBoxFor(x => x.ConfirmPassword, null, new { @class = "form-control", type = "password", @placeholder = "powtórz hasło" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
            <button type="submit" class="btn btn-info">Rejestruj</button>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <hr />
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-4 col-md-offset-6">
            <form method="get" action="@Url.Action("Login","Account")" class="form">
                Posiadasz już konto?
                <button type="submit" class="btn btn-info">Zaloguj</button>
            </form>

        </div>
    </div>
</div>
